@{
    ViewData["Title"] = "Instructions";
}
<h1>@ViewData["Title"]</h1>

<p>
    This application allows you to Create, Update, Delete a Tournament. Once you create a Tournament the application should allow the you to Create, Update and Delete multiple Events linked to the Tournament. Once you have created your Events your application should allow the user to Create, Update and Delete the Event Details (Horses) linked to each event.
    Each event detail has an Event Detail Status the user must have to ability to change the status of the Event Detail
    .
</p>
